html {
	box-sizing: border-box;
	font-family: $font-family;
	font-size: 16px;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	background-color: $color-base;
	color: $color-text;
	font-weight: normal;
}

html,
body {
	height: 100%;
	min-height: 100%;
}

header,
footer {
	display: flex;
	justify-content: space-between;
	position: absolute;
	right: 1rem;
	left: 1rem;

	> div {
		display: inherit;
		align-items: inherit;
	}
}

header {
	align-items: flex-start;
	top: 1rem;
}

footer {
	align-items: flex-end;
	bottom: 1rem;
}

h1,
h2 {
	margin: 0;
	font-size: 1.5rem;
	line-height: 1.2;
}

a {
	color: inherit;
	text-decoration: none;
}

hr {
	margin: 0 auto;
	width: 6rem;
	border: 0;
	border-top: 2px solid currentColor;
}

svg {
	width: 2rem;
	height: 2rem;
	fill: currentColor;
}

button,
input,
select {
	appearance: none;
	background: none;
	border: 0;
	outline: 0;
	color: inherit;
	font: inherit;
	line-height: inherit;
	text-align: inherit;
}

button {
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
	font-size: 1.5rem;

	&[disabled] {
		pointer-events: none;
		opacity: 0.5;
	}
}

input {
	width: 100%;
}

select {
	margin: 0 0.5rem;
	padding: 0 0.5rem;
}

main {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 740px;
	color: $color-brand;
	font-size: 2.5rem;
	line-height: 1;
	text-align: center;

	@include mq($sm) {
		font-size: 4rem;
	}

	p,
	input {
		margin: 0;
		padding: 2rem 0;
	}

	p {
		overflow: auto;
		min-height: calc(1.5em + 4rem);
		white-space: nowrap;
	}
}

@each $name, $scheme in $color-schemes {
	.#{$name} {
		background-color: map-get($scheme, 'background');
		color: map-get($scheme, 'color');
	}
}

.frame {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding: 5.5rem 1rem 3rem;
	min-height: 100%;
}

.valid {
	animation: valid 0.3s forwards ease-out;
}

.invalid {
	animation: invalid 0.3s forwards ease-out;
}

@keyframes valid {
	to {
		background-color: $color-success;
	}
}

@keyframes invalid {
	to {
		background-color: $color-error;
	}
}
